.chat
    form.chat-user.active
      label.chat-user__label(for='userName') Укажите ваше имя
      input.chat-user__input#userName(type="text" name='userName' autocomplete='off')
      button.chat-user__create(type='submit') Создать
    .chat-message
      h2.chat-message__user
      ul.chat-message-list
      form.chat-field
        label.chat-field__label(for='message') Текст сообщения
        input.chat-field__text#message(type='text' name='message' autocomplete='off')
        button(type='submit') Отправить